<%= form_tag comments_path, :id => 'new_comment_form' do %>
  <p>
    <%= label_tag 'comment[author_id]', 'comment author' %>
    <%= select_tag "comment[author_id]", options_from_collection_for_select(Author.all, "id", "name"), :id => 'author_dropdown' %>
    or
    <%= label_tag 'comment[author_to_add]', 'create new author' %>
    <%= text_field_tag 'comment[author_to_add]', nil, :id => 'author_text_field' %>
  </p>
  <p>
    <%= label_tag 'comment[body]', 'comment body' %>
    <%= text_area_tag 'comment[body]' %>
  </p>
  <p style="display:none">
    <%= text_field_tag 'comment[post_id]', @post.id %>
  </p>
  <p>
    <%= submit_tag "Submit Comment" %>
  </p>
<% end %>