<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id %>
    <%= select_tag "post[author_id]", options_from_collection_for_select(Author.all, "id", "name", :selected => @post.author_id), :id => 'author_dropdown' %>
    or
    <%= label_tag 'post[author_to_add]', 'create new author' %>
    <%= text_field_tag 'post[author_to_add]', nil, :id => 'author_text_field' %>

    <p><%= link_to 'New Author', new_author_path %></p>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :placeholder => "You can use markdown in your blog posts" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
