<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<p>
  <b>Author:</b>
  <%= @post.author.name %>
</p>

<p>
  <b>Body:</b>
  <%= raw @post.body_paragraphized %>
</p>

<hr>

<%= render 'comment_form_for_post_footer' %>

<% @post.comments.each do |comment| %>

  <p>
    <em><%= comment.author.name %></em>
  </p>
  <p>
    <%= raw comment.body_paragraphized %>
  </p>
  <hr>

<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
