<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<p>
  <b>By:</b> <%= @post.author.name %>
</p>


<div class="post">
  <%= raw to_markdown(@post.body) %>
</div>

<h2>COMMENTS</h2>

<% @post.comments.each do |comment| %>
  <div class="comment">
    <p><em><%= comment.author.name %></em></p>
    <%= raw to_markdown(comment.body) %>
    <p><%= link_to 'Edit', edit_comment_path(comment) %> | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<%= render 'comment_form_for_post_footer' %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Home', :root %>
